//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

.text-center{
	text-align:center;
}

.text-white{
	color:white;
}

.text-celeste{
	color: #3498db;
}

.text-gray{
	color:gray;
}

.text-title{
	font-family: 'Clicker Script';
}

.text-padding{
	padding-top: 2%;
}

.plr-0{
	padding-left: 0;
	padding-right: 0;
}