/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.logo{
	width: 20%;
}

/*Fondo*/

.fondo{
	background-image: url(../img/banner.jpeg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.titulo {
    background-color: #d35400;
}

nav {
    margin-bottom: 0;
    width: 100%;
    position: fixed !important;
    z-index: 10;
}

li{
font-family: 'Clicker Script';
font-size: 30px;
}

.span{
	position: absolute;
}

h1.text-center.text-white {
    font-size: 50px;
    font-family: 'Clicker Script';
    padding-top: 4% !important;
  }

h2.text-center {
    font-family: 'Clicker Script' !important;
    padding-top: 0%;
    font-size: 40px;
}

hr {
    border: 0;
    border-top: 1px dashed #eee;
}

/*Nosotros*/

.nosotros{
	background-color: #E67E62;;
	width: 100%;
	min-height: 150px;
}

p{
	padding: 4%;
  font-family: 'EB Garamond';
  font-size: 20px;
}

.contenido{
  width: 100%;
  min-height: 150px;
}

/*Clases*/

div#clases {
    padding-bottom: 3%;
}

.texto{
  background-color: red;
}

/*Contacto*/
.contacto{
	width: 100%;
	background-color: gray;
	min-height: 150px;
}

.mapa {
  margin: 0 auto;
  width: 38%;
  padding-top: 2%;
  padding-bottom: 2%;
 }

 /*Blog*/

li{
  list-style: none;
  }

h1.text-celeste.text-center{
  font-size: 50px;
  font-family:'Clicker Script';
  padding-top: 4%;
}

.categoria{
  background-color: #eeeeee;
     img.border {
       position: relative;
      bottom: 12px;
      left: 36%;
       .categoria ul {
          padding: 28px 21px;
       }
    }
  }


.banner-blog {
  width: 84%;
  margin: 0 auto;
 }

/*Footer*/

.footer{
	background-color: #6C7A89;
	width: 100%;
}

